# ===========================
# Ollama
# ===========================
OLLAMA_BASE_URL=http://localhost:11434

MODEL_NAME=llama3.1:8b

EMBED_MODEL=nomic-embed-text

# ===========================
# OpenRouter
# ===========================
OPENROUTER_API_KEY=

OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

OPENROUTER_MODEL=deepseek/deepseek-r1-0528:free